:root { 
  --black: #000000;
  --green-vogue: #00224f;
  --selective-yellow: #ffb700;
  --smalt: #003b95;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 22px;
  --font-size-xl: 40px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 12px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-semi-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.montserrat-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.montserrat-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-semi-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.montserrat-medium-smalt-12px {
  color: var(--smalt);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.montserrat-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-smalt-24px {
  color: var(--smalt);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
